.admin .pizzaItem{
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
}

.admin{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin .adminHeader{
    width: 100%;
    height: 4rem;
    background-color: black;
    margin-bottom: 1rem;
    color: white;
    display: flex;
    align-items: center;
    font-size: 200%;
    padding-left: 1rem;
}

.admin .editContainer{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: 1rem;
}

.admin .inputBox{
    display: flex;
    flex-direction: column;
}
.admin .inputBox input{
    border-bottom: 1px solid black;
    padding: 0.5rem 0.2rem 0.2rem 0.2rem;
}

.admin #groupselect{
    margin-bottom: 1rem;
}

.admin .left{
    flex-grow: 2;
}

.admin .right{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}

.admin tr:has(td):hover{
    background-color: rgba(109, 156, 243, 0.336);
}

.admin th {
    padding: 0.5rem;
    font-weight: bold;
}

.admin th, .admin td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-collapse: collapse;
}

.admin .btn{
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}

.admin .createNewBtn{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

.admin .deleteBtn{
    background-color: red;
}
.admin .saveBtn{
    background-color: limegreen;
}
.admin .logoutBtn, .admin .goToBtn{
    background-color: lightgray;
}

.admin .btnContainer{
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    gap: 1rem;
}

.admin .selectedOverlay{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 2px;
    bottom: 0px;
    background-color: rgba(109, 156, 243, 0.705);
}
