.cart{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
    width: 70%;
}

.cart .cartItem{
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px darkred;
    align-items: center;
}

.cart input{
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: solid 1px darkred;
}

.cart textarea{
    width: 100%;
    height: 100%;
}

.cart .right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart .totalPriceInfo{
    padding-top: 1rem;
    margin-top: auto;
    text-align: end;
    font-size: 200%;
}

.cart .pay{
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}

.cart .cartItemInfo{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.cart .priceInfo{
    display: flex;
    font-size: smaller;
}


.cart .extras{
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    flex-grow: 1;
}

.cart .cartItems{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 50%;
}

.cart #submitBtn{
    background-color: limegreen;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    font-family: cursive;
}