.counter{
    margin-left: auto;
    height: 80%;
    display: flex;
    justify-content: space-between;
    width: 20%;
    border-radius: 10px;
    overflow: hidden;
}

.counter .i, .counter .d{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 170%;
    cursor: pointer;
}

.counter .i{
    font-family: cursive;
    background-color: darkgreen;
}

.counter .d{
    font-family: cursive;
    background-color: darkred;
}

.counter .q{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 170%;
}