.footer{
    background-color: black;
    width: 100%;
    margin-top: 1.5rem;
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    justify-content: space-between;
}

.footer div{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
}

.footer div:first-child{
    border-right: solid 1px darkred;
}

.footer div:last-child{
    border-left: solid 1px darkred;
}

.footer .adminBtn{
    cursor: pointer;
}

.footer .adminBtn:hover{
    text-decoration: underline;
    text-decoration-color: darkred;
}