.groupCard{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.groupCard .title{
    background-color: darkred;
    font-family: cursive;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: larger;
}

.groupCard .img{
    height: 250px;
    width: 100%;
}