.menuModal{
    background-color: rgba(201, 195, 195, 0.981);
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.menuModal .closebtn{
    font-weight: bolder;
    font-size: 300%;
    margin-left: auto;
    margin-right: 2rem;
    font-family: cursive;
    cursor: pointer;
}

.menuModal .menuItem{
    container-type: inline-size;
    display: flex;
    min-width: 90%;
    border-bottom: 2px darkred solid;
    align-items: center;
    gap: 3rem;
}

.menuModal .menuItem .pizzaName{
    font-family: cursive;
    font-size: 5cqw;
    margin-bottom: 0.4rem;
}

.menuModal .menuItem .pizzaPrice{
    font-family: cursive;
    font-size: 150%;
}