.menuView{
width: 100%;
display: flex;
flex-grow: 1;
position: relative;
flex-direction: column;
align-items: center;
}

.menuView .img-container{
    background-image: url("../media/pizza-menu.jpg");
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menuView .img-container h1{
    font-size: 500%;
    margin-left: 100px;
    font-family: cursive;
}

.menuView .groupCard-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
    width: 80%;
    flex-wrap: wrap;
}